@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(204, 100%, 87%);
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #BEE5FF;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_opsz,wght.ttf') format('ttf');
  font-optical-sizing: auto;


 

}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
